# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/CMakeCache.txt
/CMakeFiles/3.2.0-rc1/CMakeCCompiler.cmake
/CMakeFiles/3.2.0-rc1/CMakeCXXCompiler.cmake
/CMakeFiles/3.2.0-rc1/CMakeDetermineCompilerABI_C.bin
/CMakeFiles/3.2.0-rc1/CMakeDetermineCompilerABI_CXX.bin
/CMakeFiles/3.2.0-rc1/CMakeRCCompiler.cmake
/CMakeFiles/3.2.0-rc1/CMakeSystem.cmake
/CMakeFiles/3.2.0-rc1/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/3.2.0-rc1/CompilerIdC/CompilerIdC.vcxproj
/CMakeFiles/3.2.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
/CMakeFiles/3.2.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
/CMakeFiles/3.2.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
/CMakeFiles/3.2.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/cl.command.1.tlog
/CMakeFiles/3.2.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
/CMakeFiles/3.2.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
/CMakeFiles/3.2.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
/CMakeFiles/3.2.0-rc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CMakeFiles/3.2.0-rc1/CompilerIdCXX/CompilerIdCXX.vcxproj
/CMakeFiles/3.2.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
/CMakeFiles/3.2.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
/CMakeFiles/3.2.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
/CMakeFiles/3.2.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/cl.command.1.tlog
/CMakeFiles/3.2.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
/CMakeFiles/3.2.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
/CMakeFiles/3.2.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
/CMakeFiles/968bd9deb5b9fd2e25d7683b63152150/generate.stamp.rule
/CMakeFiles/TargetDirectories.txt
/CMakeFiles/cmake.check_cache
/CMakeFiles/feature_tests.bin
/CMakeFiles/feature_tests.cxx
/CMakeFiles/generate.stamp
/CMakeFiles/generate.stamp.depend
/CMakeFiles/generate.stamp.list
/KernScript.opensdf
/KernScript.sdf
/KernScript.sln
/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/cmake_install.cmake
/kernscript.dir/Debug/kernscript.tlog/CL.read.1.tlog
/kernscript.dir/Debug/kernscript.tlog/CL.write.1.tlog
/kernscript.dir/Debug/kernscript.tlog/Lib.read.1.tlog
/kernscript.dir/Debug/kernscript.tlog/Lib.write.1.tlog
/kernscript.dir/Debug/kernscript.tlog/cl.command.1.tlog
/kernscript.dir/Debug/kernscript.tlog/custombuild.command.1.tlog
/kernscript.dir/Debug/kernscript.tlog/custombuild.read.1.tlog
/kernscript.dir/Debug/kernscript.tlog/custombuild.write.1.tlog
/kernscript.dir/Debug/kernscript.tlog/kernscript.lastbuildstate
/kernscript.dir/Debug/kernscript.tlog/lib.command.1.tlog
/kernscript.vcxproj
/kernscript.vcxproj.filters
